.home__hero-section1 {
	color: #ffffff;
	padding-bottom: 150px;
	padding-top: 50px;
	background-image: url("../../public/images/img-11.jpg");
	background-position: center;
	background-size: 100;
	background-repeat: no-repeat;
	display:flex;
	justify-content: center;
	align-items: center;
	min-height: 90vh;
}
.home__hero-row1 {
	flex-wrap: wrap;
	align-items: center;
}
.row1 {
	display: flex;
	margin-right: -15px;
	margin-bottom: -15px;
	margin-left: -15px;
	flex-wrap: wrap;
	align-content: stretch;
}

.col1 {
	margin-bottom: 15px;
	padding-right: 15px;
	padding-left: 15px;
	flex: 1;
	max-width: 50%;
	flex-basis: 50%;
}
.home__hero-text-wrapper1 {
	max-width: 100%;
	padding-top: 0;
	padding-bottom: 60px;
}
.top-line1 {
	color: #7d0404;
	font-size: 3rem;
	font-family: 'La Belle Aurore', cursive;
}

.heading1 {
	margin-top: 60px;
	margin-bottom: 24px;
	font-size: 5rem;
	line-height: 1.1;
	font-weight: 600;
	color: #cccccc;
	font-family: 'Exo 2', sans-serif; ;
}

.dark1 {
	color: #cccccc;
}
.darkBg1 {
	background-color: #000000;
}
.home__hero-subtitle1 {
	max-width: 100%;
	margin-bottom: 35px;
	font-size: 18px;
	line-height: 24px;
	color: #cccccc;
}
.home__hero-img-wrapper1 {
	max-width: 100%;
}

.home__hero-img1 {
	max-width: 100%;
	margin-top: 0;
	margin-right: 0;
	margin-left: 40px;
	padding-left: 0;
}

img {

	border: 0;
	width: 100%;
	max-width: 100%;
	vertical-align: middle;
	display: inline-block;
}

@media screen and (max-width: 1024px) {
	.container1 {
		padding-right: 30px;
		padding-left: 30px;
	}
}
@media screen and (max-width: 768px) {
	.home__hero-text-wrapper1 {
		padding-bottom: 65px;
	}
	.heading1{
		font-size:3rem;
	}
     .col1{
          max-width:100%;
          flex-basis: 100%
     }
	.home__hero-row1 {
		padding-left: 0;
	}
	.home__hero-subtitle1 {
		font-size:.85rem;
	}
	.home__hero-img1{
		margin-left:0;
	}
}
